.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
}

.list-inline > li > a > i {
  color: #00a79d;
}

.list-inline > li > a > i:hover {
  color: #00a79d;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
  margin-top: 20px;
}

